@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

table {
  width: 100%;

  &.nx-block {
    display: inline-table;
}
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
}

td {
  border: 1px solid #ccc;
}

tr:last-child {
  td:first-child {
    border-radius: 0px 0px 0px 12px;
  }

  td:last-child {
    border-radius: 0px 0px 12px 0px;
  }
}
