.verison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  overflow: hidden;

  &:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    h3 {
      color: #888;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;
    }
    .items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 100%;
    }
  }
}
