.item {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  width: 100%;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #000;

  transition: all 0.2s ease 0s;

  &.boosty {
    background: linear-gradient(
        194deg,
        #ef7829 16.85%,
        #f07529 22.12%,
        #f0672b 52.92%,
        #f15e2c 84.65%,
        #f15a2c 118.45%
      ),
      #000;
  }

  &.patreon {
    background: linear-gradient(
        194deg,
        #9a7963 16.85%,
        #3c4152 118.45%
      ),
      #000;
  }

  &:hover {
    border-color: #fff;
  }

  .icon,
  .downIcon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    overflow: hidden;

    h4 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      width: -webkit-fill-available;
    }
  }

  .downIcon {
    margin-left: auto;
  }
}
