.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 0.75rem;
  border: 1px solid #333;
  background: #000;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 64rem) {
    flex-direction: row;
    justify-content: start;
    img {
      max-width: 12.5rem;
      border-right: 1px solid #333;
    }
  }
  @media screen and (max-width: 48rem) {
    flex-direction: column;
    justify-content: flex-end;
    img {
      max-width: 100%;
    }
  }
  @media screen and (min-width: 80rem) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 1px !important;
      // top: 0;
      margin-bottom: 100%;
      width: calc(100% - 3rem);
      color: transparent;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
  .label {
    display: flex;
    padding: 0.25rem 0.5rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;

    position: absolute;
    left: 1rem;
    top: 1rem;

    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.2);

    color: #fff;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  .content {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    @media screen and (max-width: 64rem) {
      justify-content: center;
    }
    h3 {
      color: #fff;
      font-family: var(--font-inter);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2rem; /* 160% */
      letter-spacing: -0.05rem;
    }
    p {
      color: #888;
      font-family: var(--font-inter);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3125rem; /* 150% */
      letter-spacing: -0.0088rem;
    }
  }
}
